<div class="subscribe wthree-sub">
  <div class="container">
      <h4>Link reducer</h4>
      
      
  </div>
</div>
      
<div class="copy-w3right">
  <div class="container1">
      <p>© 2021 Cut link. All Rights Reserved | Design and Front and Backend by
          <a href="mailto:sasha.2002kushnir@gmail.com" target="_blank"> Sasha Kushnir</a> 
      </p>
  </div>
</div>